@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('public/db.jpeg');
  text-align: center;
  background-size: cover;
  // background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(40,40,40);
  background-attachment: fixed;
  background-position: center center;

}

.navbar {
  width: 100%;

}
.modal-backdrop {
  z-index: -1;
}

// img.center {
//     display: block;
//     margin: 0 auto;
// }
// width:100%;
// height: auto;
//position: absolute;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 50%;
// }
// img{
//     width:100%;
//     height: auto;
//     //position: absolute;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     width: 50%;
//
// }
