@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('public/strength2.jpeg');
  text-align: center;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(29,29,29);
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
}
p {
  font-size: 17px;
}
h1 {
  margin: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.btn {
  padding: 5px;
}
#getExercisesButton{
background-color: #e7e7e7;
margin-top: 5px;
}
#clearExercisesButton{
background-color: #e7e7e7;
margin-top: 5px;
}
input {
  margin: 2px;
}
#content {
  display: flex;
  flex-wrap: wrap;
}
#create-exercise {
  border: 2px solid;
  padding: 25px;
  box-sizing: content-box;
  box-shadow: 5px 10px #494444;
  margin: 10px 16vw;
  width: 60vw;
  background-color: #181616;
}
#message2 {
  color: white;
  background-color: rgba(62, 62, 62, 0.6);
}
#message {
  color: white;
  background-color: rgba(62, 62, 62, 0.6);
}
#sign-up {
  width: 100vw;
  // background-color: rgb(19,19,19)
  // display: flex;
}
#sign-in {
  width: 100vw;
  // background-color: rgb(19,19,19)
  //display: flex-wrap;
}
.nav-buttons {
  padding-bottom: 20px;
  width: 100vw;
  display: flex-wrap;
  text-align: center;
  align-content: center;
}
// .main-page-buttons {
//   align-items: flex-end;
// }
.modal-title {
  color: black;
}
.box {
  border: 2px solid;
  border-width: 2px;
  padding: 25px;
  box-shadow: 5px 10px #494444;
  margin: 3%;
  width: 100vw;
  box-sizing: content-box;
  background-color: #1C1C1C;
}

#motivational-quote {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.modal-backdrop {
  z-index: -1;
}
.modal {
  text-align: center;
  content-box: center;
}
footer {
  bottom: auto;
}
